.cafe-informationen{
    padding: 60px 24px 40px 24px;
}

.cafe-informationen-content h3 {
    margin:0;
}

.cafe-informationen-content-flex {
    display: flex;
    align-items: flex-start;
    column-gap: 37px;
}
