footer {
    background-color: black;
    color: white;
    padding: 61px 0 0 24px;

    & svg {
        height: 35px;
        width: 35px;

        @media (min-width: 992px) {
            height: 70px;
            width: 70px;
        }
    }

    & path {
        fill: white;
    }

    & h5 {
        @media (min-width: 992px) {
            margin: 0 0 14px 0;
        }
    }

    & p {
        margin-top: 34px;

        @media (min-width: 992px) {
            margin: 0 0 27px 0; 
        }
    }

    & a {
        color: white;
        text-decoration: none;
    }

    @media (min-width: 992px) {
        padding: 125px 240px 125px 100px;
    }
}

/* TODO footer Abstand zwischen den einzelnen Divs */
.footer-flex {
    column-gap: 90px;
    display: flex;
    flex-direction: column;
    padding: 15px 0 51px 0;
    
    @media (min-width: 992px) {
        justify-content: space-between;
        flex-direction: row;
        padding: 15px 0 0 0;
    }
}

.footer-cafe-informationen {

    @media (min-width: 992px) {
        display: flex;
        flex-direction: column;
    }
}

.footer-flex-links {
    column-gap: 97px;
    display: flex;
    flex-direction: row;

    @media (min-width: 992px) {
        column-gap: 157px;
        flex-direction: row-reverse;
    }
}

.footer-flex-links div {
    display: flex;
    flex-direction: column;
}
