.header-logo {
   position: absolute;
   left: 24px;
   top: 10px;
   
   & svg {
      width: 35px;
      height: 35px;
   }

   & svg path {
      fill: white;
   }
}

.header-menu {
   position: absolute;
   top: 21px;
   right: 25.5px;
}

.cafe-rustica {
   position: relative;
   object-fit: cover;
}
