.header-logo {
   position: fixed;
   left: 24px;
   top: 10px;
   
   & svg {
      width: 35px;
      height: 35px;
   }

   & svg path {
      fill: white;
   }

   @media (min-width: 992px) {
      left: 103px;
   }
}

.header-menu {
   position: fixed;
   right: 25.5px;
   top: 21px;

   @media (min-width: 992px) {
      display: none;
   }
}

.cafe-rustica {
   position: relative;
   object-fit: cover;
}

.header-links {
   display: none;

   @media (min-width: 992px) {
      display: inline;
      position: fixed;
      right: 150px;
      top: 18px;

      & a {
         color: white;
         margin-left: 69px;
      }

      & a:hover {
         text-decoration: none; 
      }
   }
}

.header-shop-icon {
   display: none;

   @media (min-width: 992px) {
      display: inline;
      height: 20px;
      position: fixed;
      right: 100px;
      top: 17px;
      width: 17px;
   
      & path {
         color: white;
      }
   }
}

#header-cafe {
   background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../images/coffee-shop.jpg);
   background-position: center;
   background-size: cover;
   height: 40vh;
}