/* TODO:
* Button fliegt beim klicken aus dem Bild raus - wieso? */

.hero {
  align-items: center;
  justify-content: center;
  height: 75vh;
  display: flex;
  flex-flow: column wrap;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../images/header-coffee.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-width: 992px) {
    height: 65vh;  
  }
}

.hero-title {
  color: white;
}

.hero-title h1 {
  margin: 128px 0 0 0;
}

.hero-title h2 {
  font-weight: 300;
  margin: 0;
}

.shop-button {
  margin: 80px 0 0 0;
  background: #1A1A1A;
  border-radius: 5px;
  border: 2px solid #1A1A1A;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 0.88rem;
  padding: 14px 48px;
  text-decoration: none;
}
.shop-button:hover {
	background-color:#1A1A1A;
}
.shop-button:active {
	position:relative;
	top:1px;
}
