.kaffeesorten {
    background: #1A1A1A;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 60px 24px;

    @media (min-width: 992px) {
        padding: 125px 99px 125px 101px;
    }
}

div.kaffeesorten h2 {
    @media (min-width: 992px) {
        height: 119px;
        width: 402px;
    }
}

.kaffeesorten-flex {
    column-gap: 16px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 40px 0;

    @media (min-width: 992px) {
        column-gap: 5px;
    }
}

.kaffeesorten-content {
    color: #FFFFFF;
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 40px;
}

.kaffeesorten-content-img {
    height: 208px;
    width: 155px;

    @media (min-width: 992px) {
        height: 399px; 
        width: 299px;
    }
}

.kaffeesorten-content-name {
    margin: 11px 0 0 0;
}

.kaffeesorten-content-price {
    color: #737373; 
}

.kaffeesorten-content-icons {
    display: flex;
    flex-flow: row wrap;
    
    & svg path {
        fill: #1A1A1A;
    }
}

.icon-coffee-beans svg {
    margin-right: 9px;
}

.icon-french-press svg {
    margin-right: 9px;
}