.kaffeesorten {
    background: #1A1A1A;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 60px 24px;
    margin-top: 63px;

    @media (min-width: 992px) {
        padding: 125px 99px 125px 101px;
        margin-top: 125px;
    }
}

div.kaffeesorten h2 {
    @media (min-width: 992px) {
        height: 119px;
        width: 402px;
    }
}

.kaffeesorten-flex {
    column-gap: 2%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 40px 0;

    &>div {
        width: 49%;
    }

    @media (min-width: 992px) {
        column-gap: 1.3333%;
        
        &>div {
            width: 24%;
        }
    }
}

.kaffeesorten-content {
    color: #FFFFFF;
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 40px;
}

.kaffeesorten-content-name {
    margin: 11px 0 0 0;
}

.kaffeesorten-content-price {
    color: #737373; 
}

.kaffeesorten-content-icons {
    display: flex;
    flex-flow: row wrap;
    
    & div {
        width: 10%;
    }
    
    & svg path {
        fill: #1A1A1A;
    }
}
