.shop-products-section {
    column-gap: 16px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 40px 0;

    @media (min-width: 992px) {
        column-gap: 5px;
    }
}

.product-img-wrapper {
    height: 208px;
    width: 155px;
    background-color: #E9E9E9;

    @media (min-width: 992px) {
        height: 399px; 
        width: 299px;
    }
}


.product-info {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 40px;
}

.product-name {
    margin-top: 11px;
}

.product-price {
    color: #737373;
}

.product-icon-wrapper {
    display: flex;
    flex-flow: row wrap;
} 

.product-icon {
    width: 10%;
}
