<div class="cafe-informationen-content">
    <h3>Rösterei & Café</h3>
    <p class="content-p">Kaffee aus Kiel, direkt gehandelt und geröstet in der eigenen Rösterei, serviert im gemütlichen Café in der Innenstadt.</p>
    <div class="cafe-informationen-content-flex">
        <p class="content-p cafe-informationen-content-p-flex">Komm uns besuchen! <br> Fraunhoferstr. 13, Kiel</p>
        <p class="content-p cafe-informationen-content-p-flex">Mo – Fr 8–18 Uhr <br> Sa 11–18 Uhr</p>
    </div>
</div>
