<div class="mobile-navi">
    <div class="header-logo" >
        <img src="../images/icons/logo.svg" alt="Logo Rustica">
    </div>
    <div class="header-menu">
        <img src="../images/icons/burger-menu.svg" alt="Menü">
    </div>
</div>