<div>
    <div class="kaffeesorten-content-img">
        <img src="images/costa-rica-package.jpg" alt="Costa Rica Kaffee">
    </div>
    <div class="kaffeesorten-content">
        <div>
            <h4 class="kaffeesorten-content-name">Costa Rica</h4>
            <p class="kaffeesorten-content-price">6,90€ - 26,90€</p>
        </div>
        <div class="kaffeesorten-content-icons">
            <div class="icon-coffee-beans">
                <img src="images/icons/icon-coffee-beans.svg" alt="Kaffeebohnen">
            </div>
            <div class="icon-french-press">
                <img src="images/icons/icon-french-press.svg" alt="French Press">
            </div>
            <div class="icon-coffee-shovel">
                <img src="images/icons/icon-coffee-shovel.svg" alt="Kaffeeschaufel">
            </div>
        </div>
    </div>
</div>