:root {
  /* Text Styles (lh = lineheight)*/
  /* h1: 96px, lh: 110px; mobile: 64px, lh: 75px */
  --h1-font-size: 6rem;
  --h1-font-size-m: 4rem;

  /* h2: 48px, lh: 56.25px; mobile: 36px, lh: 34px */
  --h2-font-size: 3rem;
  --h2-font-size-m: 2.88rem;

  /* h3: 42px, lh: 49px; mobile: 32px, lh: 37.5px */
  --h3-font-size: 2.6rem;
  --h3-font-size-m: 2rem;

  /* h4: 18px; mobile: 18px - both lh: 21.09px */
  --h4-font-size: 1.13rem;

  /* p: 18px, lh: 24px; mobile: 14px, lh: 18px */
  --p-font-size: 1.13rem;
  --p-font-size-m: 0.88rem;

  /* a: 14px; mobile: 14px - both lh: 18px*/
  --a-font-size: 0.88rem;

  /* font-weight */
  --font-weight-h: 900;
  --font-weight-p: 400;

  /*line-height*/
  --line-height-big: 1.5,
  --line-height-small: 1,
}
