:root {
  /* Colors */
  /* --div-color: red; */

  /* Text Styles */
  /* h1: 96px; mobile: 64px */
    --h1-font-size: 6rem;
    --h1-font-size-m: 4rem;

  /* h2: 48px; mobile: 36px */
    --h2-font-size: 3rem;
    --h2-font-size-m: 2.88rem;

  /* h3: 42px; mobile: 32px */
    --h3-font-size: 2.6rem;
    --h3-font-size-m: 2rem;

  /* h4: 18px; mobile: 18px */
    --h4-font-size: 1.13rem;

  /* h5: 42px; mobile: 24px */
    --h5-font-size: 2.6rem;
    --h5-font-size-m: 1.5rem;

  /* h6: 18px; mobile: 18px */
    --h6-font-size: 1.13rem;

  /* p: 18px; mobile: 14px */
    --p-font-size: 1.13rem;
    --p-font-size-m: 0.88rem;

  /* a: 14px; mobile: 14px */
    --a-font-size: 0.88rem;

  /* font-weigh */
    --font-weigh-h: 900;
    --font-weigh-p: 400;
}

